<!DOCTYPE html>  
<html>  
<head>  
	<title>Food Website Home</title>  
</head>  
<body>  
	<h2>Welcome to the Food Website</h2>
	<a href ="/categories/dairy_and_egg_products">Dairy and Egg Products</a><br><br>
	<a href ="/categories/spices_and_herbs">Spices and Herbs</a><br><br>
	<a href ="/categories/baby_foods">Baby Foods</a><br><br>
	<a href ="/categories/fats_and_oils">Fats and Oils</a><br><br>
	<a href ="/categories/poultry_products">Poultry Products</a><br><br>
	<a href ="/categories/soups_sauces_and_gravies">Soups, Sauces and Gravies</a><br><br>
	<a href ="/categories/sausages_and_luncheon_meats">Sausages and Luncheon Meats</a><br><br>
	<a href ="/categories/breakfast_cereals">Breakfast Cereals</a><br><br>
	<a href ="/categories/fruits_and_fruit_juices">Fruits and Fruit Juices</a><br><br>
	<a href ="/categories/pork_products">Pork Products</a><br><br>
	<a href ="/categories/vegetables_and_vegetable_products">Vegetables and Vegetable Products</a><br><br>
	<a href ="/categories/nut_and_seed_products">Nut and Seed Products</a><br><br>
	<a href ="/categories/beef_products">Beef Products</a><br><br>
	<a href ="/categories/beverages">Beverages</a><br><br>
	<a href ="/categories/finfish_and_shellfish_products">Finfish and Shellfish Products</a><br><br>
	<a href ="/categories/legumes_and_legume_products">Legumes and Legume Products</a><br><br>
	<a href ="/categories/lamb_veal_and_game_products">Lamb, Veal and Game Products</a><br><br>
	<a href ="/categories/baked_products">Baked Products</a><br><br>
	<a href ="/categories/sweets">Sweets</a><br><br>
	<a href ="/categories/cereal_grains_and_pasta">Cereal Grains and Pasta</a><br><br>
	<a href ="/categories/fast_foods">Fast Foods</a><br><br>
	<a href ="/categories/meals_entrees_and_side_dishes">Meals, Entrees and Side Dishes</a><br><br>
	<a href ="/categories/snacks">Snacks</a><br><br>
	<a href ="/categories/american_indian_alaska_native_foods">American Indian/Alaska Native Foods</a><br><br>
	<a href ="/categories/restaurant_foods">Restaurant Foods</a><br><br>
</body>  
</html>